.createUserContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createUserForm input {
  margin: 3rem;

}

.createUserForm button {
  margin: 1rem;
}

.login-style {
  background-color: #0104041f;
  margin-top: 3rem;
  padding: 6rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  border-radius: 5px;
  box-shadow: #004f3b61 8px 10px 27px;
}

@media (max-width: 760px) {
  .login-style {
    padding: 4rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .createUserForm input {
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .login-style {
    padding: 1rem;
  }
  .createUserForm input {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
  .login-style h1 {
    font-size: 1.4rem;
  }
}
