.lobby-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 144px);
  width: 100vw;
}

.roomNavBar {
  width: 14rem;
}

.chatContainer {
  width: 100%;
  border-radius: 1rem;
}

.createRoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #5d9dad;
}

.createRoom {
  background-color: #15353c;
  color: white;
  height: 25rem;
  width: 30rem;
  border-radius: 20px;
}

.createRoom form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createRoom form h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.customizedInput {
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.customizedButton {
  background-color: #02776e;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.customizedButton:disabled {
  color: rgb(164, 164, 164);
  background-color: #696969;
}

.createRoom input {
  margin: 4rem;
}

.createRoomButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 700px) {
  .createRoom {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .roomNavBar {
    width: 7.5rem;
  }
}
