.lobby-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 144px);
  width: 100vw;
}

.roomNavBar {
  width: 14rem;
}

.chatContainer {
  width: 100%;
  border-radius: 1rem;
}

.createRoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.createRoom {
    background-color: #15353c26;
    color: white;
    height: 35rem;
    display: flex;
    padding: 186px;
    border-radius: 5px;
    box-shadow: #004f3b61 8px 10px 27px;
    align-items: center;
    justify-content: center;
}

.createRoom form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createRoom form h1 {
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

.customizedInput {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.customizedButton {
  background-color: #015f57;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.customizedButton:disabled {
  color: rgb(164, 164, 164);
  background-color: #696969;
}

.createRoom input {
  margin: 4rem;
}

.createRoomButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media(max-width:1100px){

.createRoom {

    height: 31rem;

    padding: 90px;

}
}


@media(max-width:900px){

.createRoom {

    height: 25rem;

    padding: 50px;

}
}

@media (max-width: 800px) {
  .lobby-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 144px);
    width: 100vw;
  }
  .containerRooms {
    display: flex;

    justify-content: center;
    min-height: 4rem;
    color: white;
    text-align: center;
  }
  .containerRooms h2 {
    height: 100%;
    padding: 10px;
  }

  .roomNavBar {
    width: 100%;
  }

  .chat-container {
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 5px;
    min-height: calc(100vh - 256px);
  }

  .mapped-messages {
    height: calc(100vh - 310px);
  }

  .chatInput {
    margin: 0 1rem;
  }
}

@media (max-width: 700px) {
  .createRoom {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .chatBubble p {
    font-size: 1rem;
    color: white;
    max-width: 16rem;
  }
}

@media (max-width: 400px) {
  .createRoom {
    width: 16rem;
  }
  .customizedInput {
    padding: 1rem 1rem;
    margin: 0;
    font-size: 1rem;
  }
  .createRoom h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  .room-form {
    padding: 0;
  }

  .chatBubble p {
    max-width: 10rem;
    white-space: pre-line;
    font-size: 1rem;
    color: white;
  }
}
