.chat-container {
  min-height: calc(100vh - 144px);
  background-color: white;
  color: black;
}

.chat-container h1 {
  margin: 0;
}

.messageFeild {
  position: fixed;
  bottom: 0;
  background-color: #5c9ead;
  display: flex;
  height: 5rem;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  padding-left: 1rem;
  align-content: center;
}

.chatInput input {
  text-overflow: auto;
  word-wrap: break-word;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;

  width: 50%;
  height: 2rem;
}
.chatInput button {
  background-color: #02776e;
  color: white;
  border: none;
  height: 2.1rem;

  /* margin: 0 1rem; */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.chatInput {
  display: flex;
  align-items: center;
  width: 100%;
}
