.chat-container {
  min-height: calc(100vh - 198px);
  background-color: white;
  color: black;
 border-radius: 5px;
}

.roomDisplay {
      -webkit-box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0;
}

.roomDisplay p {
  margin: 0;
  color: #334B48;
}

.roomDisplay p:first-child {
  font-size: 1rem;
}

.roomDisplay p:last-child {
  font-size: 2rem;
}

.messageFeild {
  background-color: transparent;
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.messageWithInfo {
  display: flex;

  margin: 1rem;
  flex-direction: column;
}

.messageInfo {
  display: flex;
  align-items: center;
  height: 3rem;
}

.chatBubble {
  background: #2a9376;
  border-radius: 1rem;
  margin-left: 3rem;
  position: relative;
  display: inline-flex;
  overflow-wrap: break-word;
}

.chatBubble p {
  max-width: 22rem;
  margin: 0.7rem;
  color: white;
  font-size: 1.2rem;
  white-space: pre-line;
}

.chatInput input {
  text-overflow: auto;
  word-wrap: break-word;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  width: 100%;
  height: 2rem;
  padding: 0.7rem;
}

.chatInput button {
  background-color: #0104041f;
  color: white;
  border: none;
  height: 2.1rem;
  font-size: 1.5rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
}

.chatInput {
  display: flex;
  align-items: center;

  background-color: transparent;
  height: 4rem;
}

.arrow-left {
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 11px solid #2a9376;
  transform: rotate(331deg);
  position: absolute;
  top: -7px;
  left: 1px;
}

.arrow-left-me {
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 11px solid #027281;
  transform: rotate(331deg);
  position: absolute;
  top: -7px;
  left: 1px;
}

.mapped-messages {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 230px);
  position: relative;
}

.mapped-messages::-webkit-scrollbar {
  display: none;
}