.createRoom {
  background-color: #5c9ead;
  color: white;
  height: 30rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customizedInput {
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.customizedButton {
  background-color: #02776E;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.customizedButton:disabled {
  background-color: #696969;


}

.createRoom input {
  margin: 4rem;
  width: 30%;
}

.createRoom button {
  width: 25%;
}
