.header {
  /* background-color: #05766c; */

  justify-self: center;
  margin: auto;
  /* border-radius: 20px;
  box-shadow: #05766c 25px 5px 25px 25px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.header div{
  height: 5rem;
  padding: 1rem;
}

.header img{
  height: 130%;
}

.header a {
  text-decoration: none;
  color: white;
}


