.roomsButtons {
  width: 100%;
  height: 3rem;
  background: #15353c;
  color: white;
  border: none;
}

.roomsButtons:disabled {
  text-decoration: underline;
  background-color: #4FACA1;
  cursor: default;
}

.Room-nav-container {
  width: 100%;
}

.Room-nav-container button {
  font-size: 1rem;
}

.containerRooms {
  display: flex;
  flex-direction: column;
  justify-self: left;
  min-height: calc(100vh - 144px);
  background-color: #01776e;
  color: white;
  text-align: center;
}

.rooms {
  background-color: #5c9ead;
  color: white;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid black;
}

.containerRooms h2 {
  background-color: #15353c;
  margin: 0;
  padding: 22.5px;
}

.rooms:last-child {
  background-color: #825cad;
  color: white;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid black;
}

.newRoom {
  background-color: #5cad5f;
  color: white;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .containerRooms h2 {
    font-size: 1rem;
  }
}
