.roomsButtons {
  width: 100%;
  height: 3rem;
  background: #007281;
  color: white;
  border: none;
}

.roomsButtons:disabled {
  text-decoration: none;
  background-color: #25596c;
  cursor: default;
   box-shadow:         inset 0 0 10px #173b4b;
}

.Room-nav-container {
  width: 100%;
}

.Room-nav-container button {
  font-size: 1rem;
}

.containerRooms {
  display: flex;
  flex-direction: column;
  justify-self: left;
  min-height: calc(100vh - 144px);
  color: white;
  font-weight: bolder;
  text-align: center;
}

.rooms {
  color: white;
  padding: 1rem;
  text-align: left;
}

.containerRooms h2 {
  background-color: #00000038;
  margin: 0;
  padding: 22.5px;
}

.rooms:last-child {
  color: white;
  padding: 1rem;
  text-align: left;
}

.mobile-nav {
  display: none;
}

@media (max-width: 800px) {
  .mobile-nav {
    display: unset;
  }

  .desktop-nav {
    display: none;
  }
}
