
.Room-nav-container {
  width: 100%;
}
.containerRooms {
  display: flex;
  flex-direction: column;
  justify-self: left;
  min-height: calc(100vh - 80px);
  background-color: #eeeeee;
  
}

.rooms {
  background-color: #5c9ead;
  color: white;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid black;
}

.rooms:last-child {
  background-color: #825cad;
  color: white;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid black;
}

.newRoom {
  background-color: #5cad5f;
  color: white;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid black;
}
